---
title: Pressfeed
---


<!-- Intro -->
<section class="pf-section pf-section-first bg-waves-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="pf-punchline">
                    <h1 class="mb-4">Cервис журналистских запросов</h1>
                    <p class="lead"><a href="s-jours.html">Журналистам</a> — фактура для&nbsp;статей. <br
                            class="d-none d-sm-block"> <a href="s-experts.html">Экспертам</a>&nbsp;— упоминания в&nbsp;СМИ.
                    </p>
                    <form class="pf-signup mx-auto mb-5 mt-4 mb-md-6 mt-md-5">
                        <input type="email" class="form-control" placeholder="Ваша почта" maxlength="200" required>
                        <button type="submit" class="btn btn-lg btn-warning">Регистрация</button>
                    </form>
                    <div class="pf-queries-list">
                        <div class="pf-queries-list-label">Запросы крупнейших СМИ на&nbsp;Pressfeed</div>
                        <div class="pf-query-slider">
                            {{#each queries}}
                            <a class="w-100" href="https://pressfeed.ru/signup">
                                <img src="{{this.logo}}" alt="{{this.media}}">
                                <div class="ml-3">{{this.title}}</div>
                                <div class="ml-auto d-none d-md-inline-block">
                                    <i class='material-icons t-n {{this.star-state}}'>{{this.star}}</i>
                                    <i class='material-icons text-gray-light-2 t-n ml-3'>check</i>
                                </div>
                            </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Numbers-->
<section class="pf-section-zero bg-light py-5">
    <div class="container container-fluid">
        <div class="row text-center justify-content-center f-semi">
            <div class="col-md-4 pb-5 pb-md-0">
                <div class="pf-step mx-auto mb-3">3600</div>
                <div class="text-gray-light">СМИ размещают запросы на&nbsp;Pressfeed.<br> Это 1/3&nbsp;редакций страны!
                </div>
            </div>
            <div class="col-md-4 pb-5 pb-md-0">
                <div class="pf-step mx-auto mb-3">30000</div>
                <div class="text-gray-light">экспертов отвечают журналистам<br> и&nbsp;получают упоминания в&nbsp;СМИ
                </div>
            </div>
            <div class="col-md-4">
                <div class="pf-step mx-auto mb-3">35000</div>
                <div class="text-gray-light">публикаций и&nbsp;телепередач вышло<br> при участии Pressfeed с&nbsp;2014&nbsp;года
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Features -->
<section class="pf-section">
    <div class="container-fluid">
        <h2 class="t-l text-center mb-5">Как работает Pressfeed</h2>
        <div id="slider-features" class="carousel slide" data-interval="false">
            <ol class="carousel-indicators carousel-indicators-gray">
                {{#each slides}}
                <li data-target="#slider-features" data-slide-to="{{ this.slide-index }}" class="{{ this.class }}">{{
                    this.id }}
                </li>
                {{/each}}
            </ol>
            <div class="carousel-inner">
                {{#each slides}}
                <div class="carousel-item {{ this.class }}">
                    <p class="carousel-item-title">{{ this.title }}</p>
                    <picture>
                        <source srcset="{{this.img-mob}}" media="(max-width: 576px)">
                        <source srcset="{{ this.img }}" media="(min-width: 577px)">
                        <img srcset="{{this.img}}" alt="{{ this.title }}">
                    </picture>
                </div>
                {{/each}}
            </div>
            <!--<a class="carousel-control-prev" data-target="#slider-features" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Назад</span>
            </a>
            <a class="carousel-control-next" data-target="#slider-features" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Дальше</span>
            </a>-->
        </div>
    </div>
</section>

<!-- Publications -->
<section class="pf-section bg-light js-pb">
    <div class="container container-fluid">
        <h2 class="t-l text-center mb-5">Как запросы становятся публикациями</h2>

        <div id="slider-publications" class="carousel slide" data-interval="false">
            <ol class="carousel-indicators mb-5">
                <li data-target="#slider-publications" data-slide-to="0" class="active">1</li>
                <li data-target="#slider-publications" data-slide-to="1">2</li>
                <li data-target="#slider-publications" data-slide-to="2">3</li>
                <li data-target="#slider-publications" data-slide-to="3">4</li>
                <li data-target="#slider-publications" data-slide-to="4">5</li>
            </ol>
            <div class="js-slider-publications carousel-inner"></div>
        </div>

        <form class="pf-signup mx-auto">
            <input type="email" class="form-control" placeholder="Ваша почта" maxlength="200" required>
            <button type="submit" class="btn btn-lg btn-warning">Регистрация</button>
        </form>
    </div>
</section>

<!-- FAQ -->
<section class="pf-section">
    <div class="container container-fluid">
        <h2 class="t-l text-center mb-4">Вопросы</h2>
        <div class="pf-faq">
            {{#each faq}}
            <div class="pf-faq-item">
                <a class="pf-faq-question" data-toggle="collapse" href="#question-{{this.id}}">{{{this.q}}}</a>
                <div class="pf-faq-answer collapse" id="question-{{this.id}}">
                    {{{this.a}}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<!-- History -->
<section class="pf-section-zero bg-light py-7">
    <div class="container container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="pf-photo-bocharsky"></div>
            </div>
            <div class="col-md-5">
                <div class="px-3">
                    <h2 class="t-l mb-3 mt-4 mt-lg-0">Сделано журналистами</h2>
                    <!--<h3 class="text-gray-light mb-3 mt-4 mt-lg-0 f-semi">Сделано журналистами</h3>-->
                    Привет! Я&nbsp;&mdash; Константин Бочарский, экс-редактор журнала &laquo;Секрет
                    Фирмы&raquo;,
                    ИД&nbsp;&laquo;Коммерсантъ&raquo;. Сервис Pressfeed я&nbsp;придумал, чтобы помочь себе и&nbsp;коллегам
                    искать фактуру для
                    заметок.<br><br>
                    <a href="">Как я&nbsp;делал это раньше и как Pressfeed все
                        <nobr>изменил&nbsp;<i class="material-icons align-middle">chevron_right</i></nobr>
                    </a>
                </div>
            </div>
            <!--<div class="col-sm-11 justify-content-center mt-2 mt-lg-7">
                <div class="pf-testimonials">
                    {{#each testimonials}}
                    <div class="card pf-testimonial">
                        <div class="pf-testimonial-text">{{this.text}}</div>
                        <div class="pf-testimonial-person">
                            <img class="rounded-circle mr-3" src="{{this.img}}" width="60" height="60">
                            <div class="pf-testimonial-name">{{this.name}}<br> <span class="text-danger f-semi">{{this.company}}</span>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>-->
        </div>
    </div>
</section>