---
title: Pressfeed. Экспертам
---


<!-- Intro -->
<section class="pf-section pf-section-first bg-waves-3">
    <div class="container container-fluid">
        <div class="row text-center justify-content-center align-items-center">
            <div class="col-lg-9 d-flex flex-column">
                <p class="ff-special t-m f-light mb-4">Каждый — эксперт в чем-то!</p>
                <h1 class="ff-special t-l f-light mb-4">Простой и быстрый способ получать <span class="f-semi">публикации</span>
                    о своей компании <span class="f-semi">бесплатно</span></h1>
                <form class="pf-signup mt-4 mx-auto">
                    <input type="email" class="form-control" placeholder="Ваша почта" maxlength="200" required>
                    <button type="submit" class="btn btn-lg btn-warning">Регистрация</button>
                </form>
            </div>
            <figure class="pf-figure mt-5 mt-lg-6">
                <img src="img/screen-1.png" class="pf-figure-img"
                     alt="Типичный запрос журналиста и ответы экспертов на Pressfeed">
                <figcaption class="pf-figure-caption text-center">Отвечаете на запросы журналистов
                    <br class="d-lg-none">
                    <i class="material-icons d-lg-none py-2">keyboard_arrow_down</i>
                    <br class="d-lg-none">
                    <i class="material-icons d-none d-lg-inline-block">keyboard_arrow_right</i>
                    Уточняете детали в чате
                    <br class="d-lg-none">
                    <i class="material-icons d-lg-none py-2">keyboard_arrow_down</i>
                    <br class="d-lg-none">
                    <i class="material-icons d-none d-lg-inline-block">keyboard_arrow_right</i>
                    Получаете публикацию в СМИ</figcaption>
            </figure>
        </div>
    </div>
</section>

<!-- Numbers-->
<section class="pf-section-zero bg-light py-5">
    <div class="container container-fluid">
        <div class="row text-center justify-content-center f-semi">
            <div class="col-md-4 pb-5 pb-md-0">
                <div class="pf-step mx-auto mb-3">3800</div>
                <div class="text-gray-light">СМИ в&nbsp;базе Pressfeed</div>
            </div>
            <div class="col-md-4 pb-5 pb-md-0">
                <div class="pf-step mx-auto mb-3">1500</div>
                <div class="text-gray-light">запросов публикуется в&nbsp;месяц</div>
            </div>
            <div class="col-md-4">
                <div class="pf-step mx-auto mb-3">52%</div>
                <div class="text-gray-light">ответов превращаются в&nbsp;публикации</div>
            </div>
        </div>
    </div>
</section>

<!-- Features -->
<section class="pf-section">
    <div class="container container-wide">

        <h2 class="t-l text-center mb-3">Что &laquo;Прессфид&raquo; дает эксперту или пиарщику</h2>

        <div class="list-featured mx-auto">
            <div class="list-featured-item">
                <div class="list-featured-icon">
                    <i class="material-icons">verified_user</i>
                </div>
                <div>
                    <h3>Реальные запросы СМИ</h3>
                    <div>На «Прессфиде» журналисты каждый день размещают запросы на фактуру и комментарии для своих
                        статей. В месяц на портале появляется более 1500 новых запросов СМИ. Найдите среди них тему, по
                        которой вы можете выступить экспертом и поделитесь своим опытом с читателями издания, отправив
                        ответ журналисту. Станьте героем публикации.
                    </div>
                </div>
            </div>
            <div class="list-featured-item">
                <div class="list-featured-icon">
                    <i class="material-icons">whatshot</i>
                </div>
                <div>
                    <h3>Рекордная результативность</h3>
                    <div>Не тратьте свое рабочее время на сотни звонков и писем. Вы можете в разы повысить свою
                        результативность. С помощью Pressfeed вы не звоните в редакцию с вопросом «на какую тему он
                        готовит материал?», а уже отвечаете на актуальные запросы, размещенные на сайте, предоставляете
                        журналисту информацию, которая ему нужна на данный момент.
                    </div>
                </div>
            </div>

            <div class="pf-testimonial pf-testimonial-sm mt-4 mb-lg-4 mt-lg-5 mx-auto w-100 card bg-light">
                <div class="pf-testimonial-text t-n">«Прессфид» экономит мне время и силы. За год работы с сервисом я
                    публиковался в СМИ в три раза чаще, чем за пять предыдущих лет.
                </div>
                <div class="pf-testimonial-person">
                    <img class="rounded-circle mr-3" src="img/speakerhead-3.jpg" width="60" height="60">
                    <div class="pf-testimonial-name">Игорь Тулин<br> <span
                            class="text-danger f-semi">Владелец NewTube</span>
                    </div>
                </div>
            </div>

            <div class="list-featured-item">
                <div class="list-featured-icon">
                    <i class="material-icons">group_add</i>
                </div>
                <div>
                    <h3>Знакомство с журналистами</h3>
                    <div>Используйте Pressfeed как социальную сеть. С помощью раздела поиска найдите авторов нужных вам
                        изданий или нужной специализации. Добавьте журналистов себе в контакты. Контакты на Pressfeed —
                        аналог записной книжки.
                    </div>
                </div>
            </div>

            <div class="list-featured-item">
                <div class="list-featured-icon">
                    <i class="material-icons">chat_bubble</i>
                </div>
                <div>
                    <h3>Прямое общение</h3>
                    <div>Если возникли уточняющие вопросы по запросу, то вы можете связаться с журналистом во внутреннем
                        чате. Это напомнит автору, что вы не абстрактный поставщик фактуры, а живой человек, перед
                        которым у него есть обязательства.
                    </div>
                </div>
            </div>

            <div class="pf-testimonial pf-testimonial-sm mt-4 mb-lg-4 mt-lg-5 mx-auto w-100 card bg-light">
                <div class="pf-testimonial-text t-n">Обычно владельцы фэшн-брендов не заглядывают на «Прессфид». А зря!
                    Там часто появляются интересные темы для комментариев, которые будут актуальны для фэшн-компаний.
                    Например, с помощью ресурса мы организовали серию экспертных комментариев и интервью для нашего
                    клиента российского бренда Lavlan.
                </div>
                <div class="pf-testimonial-person">
                    <img class="rounded-circle mr-3" src="img/speakerhead-4.jpg" width="60" height="60">
                    <div class="pf-testimonial-name">Мария Погораева<br> <span class="text-danger f-semi">CEO и основатель PR-агентства Pink Communications</span>
                    </div>
                </div>
            </div>

            <div class="list-featured-item">
                <div class="list-featured-icon">
                    <i class="material-icons">mail</i>
                </div>
                <div>
                    <h3>Подписка на нужные запросы</h3>
                    <div>Настройка уведомлений по интересующим вас темам не даст пропустить важный целевой запрос, даже
                        если у вас не было времени зайти на сайт или проверить регулярную рассылку. Уведомления
                        существенно сэкономят время на мониторинг запросов и повысят оперативность отклика.
                    </div>
                </div>
            </div>
            <div class="list-featured-item">
                <div class="list-featured-icon">
                    <i class="material-icons">new_releases</i>
                </div>
                <div>
                    <h3>Сообщения для прессы</h3>
                    <div>Удобная возможность предложить 5000 журналистам, работающим на сервисе, свои новости. Релизы
                        публикуются в рабочем кабинете репортера. Если тема окажется интересной, автор может тут же
                        связаться с контактным лицом, отправив ему сообщение через Pressfeed, или используя прямые
                        контакты в релизе. Так компании могут демонстрировать свои новости журналистам, не отвлекая их
                        от работы и не раздражая «спамом в почтовом ящике».
                    </div>
                </div>
            </div>
            <div class="list-featured-item">
                <div class="list-featured-icon">
                    <i class="material-icons">live_help</i>
                </div>
                <div>
                    <h3>Быстрая помощь</h3>
                    <div>Мы всегда поможем с любым затруднением. Как при использовании сервиса, так и в работе со СМИ.
                        Подскажем, как правильно написать ответ на запрос, как общаться с журналистом, как лучше
                        преподнести свою экспертизу. Не стесняйтесь написать нам или позвонить.
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- FAQ -->
<section class="pf-section-zero bg-light">
    <div class="container container-fluid">
        <h2 class="t-l text-center mb-4">Вопросы</h2>
        <div class="pf-faq">
            {{#each faq-expert}}
            <div class="pf-faq-item">
                <a class="pf-faq-question" data-toggle="collapse" href="#question-{{this.id}}">{{{this.q}}}</a>
                <div class="pf-faq-answer collapse" id="question-{{this.id}}">
                    {{{this.a}}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    </div>
</section>




