---
title: Pressfeed. Журналистам
---


<!-- Intro -->
<section class="pf-section pf-section-first bg-waves-3">
    <div class="container container-fluid">
        <div class="row text-center justify-content-center align-items-center">
            <div class="col-lg-9 d-flex flex-column">
                <p class="ff-special t-m f-light mb-4">Сделано журналистами для&nbsp;журналистов</p>
                <h1 class="ff-special t-l f-light mb-4">Меньше времени на&nbsp;поиски, звонки и&nbsp;переписку.
                    <span class="f-semi">Больше&nbsp;— на&nbsp;тексты</span></h1>
                <form class="pf-signup mt-4 mx-auto">
                    <input type="email" class="form-control" placeholder="Ваша почта" maxlength="200" required>
                    <button type="submit" class="btn btn-lg btn-warning">Регистрация</button>
                </form>
            </div>
            <figure class="pf-figure mt-5 mt-lg-6">
                <img src="img/screen-1.png" class="pf-figure-img"
                     alt="Типичный запрос журналиста и ответы экспертов на Pressfeed">
                <figcaption class="pf-figure-caption text-center">Публикуете запрос
                    <br class="d-lg-none">
                    <i class="material-icons d-lg-none py-2">keyboard_arrow_down</i>
                    <br class="d-lg-none">
                    <i class="material-icons d-none d-lg-inline-block">keyboard_arrow_right</i>
                    Эксперты отвечают
                    <br class="d-lg-none">
                    <i class="material-icons d-lg-none py-2">keyboard_arrow_down</i>
                    <br class="d-lg-none">
                    <i class="material-icons d-none d-lg-inline-block">keyboard_arrow_right</i>
                    Получаете фактуру и&nbsp;героев для материала</figcaption>
            </figure>
        </div>
    </div>
</section>

<!-- Numbers-->
<section class="pf-section-zero bg-light py-5">
    <div class="container container-fluid">
        <div class="row text-center justify-content-center f-semi">
            <div class="col-md-4 pb-5 pb-md-0">
                <div class="pf-step mx-auto mb-3">30000</div>
                <div class="text-gray-light">экспертов в базе Pressfeed</div>
            </div>
            <div class="col-md-4 pb-5 pb-md-0">
                <div class="pf-step mx-auto mb-3">116000</div>
                <div class="text-gray-light">ответов опубликовали<br> эксперты за&nbsp;3&nbsp;года</div>
            </div>
            <div class="col-md-4">
                <div class="pf-step mx-auto mb-3">20</div>
                <div class="text-gray-light">минут в&nbsp;среднем проходит<br> до&nbsp;первого ответа</div>
            </div>
        </div>
    </div>
</section>

<!-- Features -->
<section class="pf-section">
    <div class="container container-fluid">

        <h2 class="t-l text-center mb-3">Что &laquo;Прессфид&raquo; дает журналисту</h2>

        <div class="list-featured mx-auto">
            <div class="list-featured-item">
                <div class="list-featured-icon">
                    <i class="material-icons">access_time</i>
                </div>
                <div>
                    <h3>Экономия времени на сборе фактуры</h3>
                    <div>70% времени при написании заметки уходит на сбор материала. Занимайтесь текстами.
                        «Прессфид» автоматизирует рутину.
                    </div>
                </div>
            </div>
            <div class="list-featured-item">
                <div class="list-featured-icon">
                    <i class="material-icons">block</i>
                </div>
                <div>
                    <h3>Никакого PR-спама</h3>
                    <div>Мы не разглашаем ваши данные, не раскрываем имейл, вы не окажетесь в спам-базах. Если захотите,
                        пиарщики смогут писать вам только на сайте и нигде больше.
                    </div>
                </div>
            </div>


            <div class="pf-testimonial pf-testimonial-sm mt-4 mb-lg-4 mt-lg-5 mx-auto w-100 card bg-light">
                <div class="pf-testimonial-text t-n">Реальная помощь в том, что ты можешь в ускоренном режиме найти себе
                    спикеров, которые нужны. Это и правда круто. Xорошая экономия времени.
                </div>
                <div class="pf-testimonial-person">
                    <img class="rounded-circle mr-3" src="img/speakerhead-1.jpg" width="60" height="60">
                    <div class="pf-testimonial-name">Вячеслав Опахин<br> <span class="text-danger f-semi">Hi-tech.mail.ru</span>
                    </div>
                </div>
            </div>

            <div class="list-featured-item">
                <div class="list-featured-icon">
                    <i class="material-icons">people_outline</i>
                </div>
                <div>
                    <h3>25 000 экспертов</h3>
                    <div>Ищите эксперта самостоятельно. Обращайтесь к нему напрямую с помощью чатов. У «Прессфида» самый
                        большой экспертный пул в России. С подробной информацией, чем человек занимается, какие темы
                        освещает, как работает с журналистами.
                    </div>
                </div>
            </div>

            <div class="list-featured-item">
                <div class="list-featured-icon">
                    <i class="material-icons">hourglass_empty</i>
                </div>
                <div>
                    <h3>Управление дедлайнами</h3>
                    <div>Установите дедлайн и продлевайте его, если надо. Больше не нужно объяснять каждому
                        эксперту,
                        когда
                        он должен прислать комментарий. А вы тем временем сможете работать над текстом. Вас не будут
                        отвлекать.
                    </div>
                </div>
            </div>

            <div class="pf-testimonial pf-testimonial-sm mt-4 mb-lg-4 mt-lg-5 mx-auto w-100 card bg-light">
                <div class="pf-testimonial-text t-n">Журналисту достаточно сформулировать запрос и все. Никакой рутины,
                    связанной с поиском спикеров через разные источники. Если оставляешь запрос на Pressfeed, все ответы
                    приходят в одно место. Ничего не потеряешь.
                </div>
                <div class="pf-testimonial-person">
                    <img class="rounded-circle mr-3" src="img/speakerhead-2.jpg" width="60" height="60">
                    <div class="pf-testimonial-name">Сергей Лютых<br> <span class="text-danger f-semi">Lenta.ru</span>
                    </div>
                </div>
            </div>

            <div class="list-featured-item">
                <div class="list-featured-icon">
                    <i class="material-icons">chat_bubble_outline</i>
                </div>
                <div>
                    <h3>Вся коммуникация в одном месте</h3>
                    <div>Общаясь с источниками, журналист вынужден получать контент в десятках разных каналов:
                        электронная
                        почта, скайп, фейсбук, мессенджеры и проч. «Прессфид» позволяет вести историю ваших отношений со
                        спикерами в одном месте.
                    </div>
                </div>
            </div>
            <div class="list-featured-item">
                <div class="list-featured-icon">
                    <i class="material-icons">clear</i>
                </div>
                <div>
                    <h3>Поменьше дежурной переписки</h3>
                    <div>Хватит писать десятки однообразных писем, вежливо сообщая, что комментарий не подошел, что
                        статья
                        скоро выйдет и так далее. Все это «Прессфид» берет на себя. Нажмите на кнопку «Отклонить», и
                        эксперт
                        получит уведомление, что его комментарий не подходит. А когда статья выйдет, прикрепите ее к
                        запросу, и сразу все спикеры об этом узнают.
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- FAQ -->
<section class="pf-section-zero bg-light">
    <div class="container container-fluid">
        <h2 class="t-l text-center mb-4">Вопросы</h2>
        <div class="pf-faq">
            {{#each faq-jour}}
            <div class="pf-faq-item">
                <a class="pf-faq-question" data-toggle="collapse" href="#question-{{this.id}}">{{{this.q}}}</a>
                <div class="pf-faq-answer collapse" id="question-{{this.id}}">
                    {{{this.a}}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    </div>
</section>




