<!-- Header -->
<header class="pf-header">
    <div class="pf-header-container">
        <div class="pf-header-section d-flex align-items-stretch">
            <a class="pf-logo {{#ifpage 's-index'}} active{{/ifpage}}" href="s-index.html">pressfeed</a>
        </div>
        <div class="pf-header-section d-none d-lg-flex">
            <nav class="pf-header-nav">
                <a {{#ifpage 's-jours'}}class="active"{{/ifpage}} href="s-jours.html">Журналистам</a>
                <a {{#ifpage 's-experts'}}class="active"{{/ifpage}} href="s-experts.html">Экспертам</a>
                <a {{#ifpage 's-plans'}}class="active"{{/ifpage}} href="s-plans.html">Тарифы</a>
                <a href="https://news.pressfeed.ru/">Блог</a>
                <a class="ml-lg-7 text-black" href="tel:+7-495-120-80-19">+7 (495) 120-80-19</a>
            </nav>
        </div>
        <div class="pf-header-section d-none d-lg-flex">
            <form class="pf-signup-simple bg-blue">
                <input type="email" class="form-control" placeholder="Ваша почта" maxlength="200" required>
                <button type="submit" class="btn btn-warning">Регистрация</button>
            </form>
            <a class="ml-3" href="https://fkolesnik.github.io/pf2/signin">Вход</a>
        </div>
        <div class="hidden-lg-up burger" id="menu-mob-trigger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</header>

<!-- Mobile Menu-->
<div class="menu-mob" id="menu-mob">
    <nav class="d-flex flex-column h3 system f-normal align-items-center">
        <a href="s-jours.html">Журналистам</a>
        <a class="mt-3" href="s-experts.html">Экспертам</a>
        <a class="mt-3" href="s-plans.html">Тарифы</a>
        <a href="//news.pressfeed.ru/">Блог</a>
        <a class="pt-2" style="border-top: 1px solid rgba(0,0,0,0.2);"
           href="//pressfeed.ru/site/login">Войти</a>
    </nav>
    <div class="my-5 px-3">
        <form class="pf-signup mw-100">
            <input type="email" class="form-control" placeholder="Ваша почта" maxlength="200" required>
            <button type="submit" class="btn btn-lg btn-warning">Регистрация</button>
        </form>
    </div>
</div>