<!-- Founder modal-story modal -->
<div class="modal js-modal-story" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <button type="button" class="btn-link btn close my-3" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>

            <img class="img-fluid d-block" src="img/bocharsky-cut.jpg">

            <div class="px-2 py-4 px-lg-5 py-lg-5">
                <p>Здравствуйте.</p>
                <p>Меня зовут Константин Бочарский, я&nbsp;&mdash; редактор блока &laquo;Перспективы&raquo; журнала
                    &laquo;Секрет Фирмы&raquo;, ИД
                    &laquo;Коммерсантъ&raquo;. </p>
                <p>Я&nbsp;пишу о&nbsp;новых технологиях, трендах и&nbsp;бизнес-идеях. </p>
                <p>Сервис Pressfeed я&nbsp;сделал, чтобы помочь себе и&nbsp;своим коллегам искать
                    фактуру для заметок.
                    Если вы&nbsp;журналист или ньюсмейкер, Pressfeed будет полезен вам.</p>

                <p>Поясню на&nbsp;примере. Вот как я&nbsp;делал это раньше.</p>
                <p>Например, миллион лет назад в&nbsp;ЖЖ:</p>

                <img src="img/modal-story/lj-med.png" alt="Журналистский запрос в ЖЖ" class="img-thumbnail bg-light">

                <br><br>
                <p>Вот так пару лет спустя в&nbsp;Twitter:</p>

                <img src="/img/modal-story/twitter-ether.png" alt="Журналистский запрос в твиттере"
                     class="img-thumbnail bg-light">
                <br><br>
                <img src="/img/modal-story/twitter-virt.png" alt="Журналистский запрос в твиттере"
                     class="img-thumbnail bg-light">

                <br><br>
                <p>Вот так недавно в&nbsp;Facebook:</p>

                <img src="/img/modal-story/fb-deti.png" alt="Журналистский запрос в фейсбуке"
                     class="img-thumbnail bg-light">
                <br><br>
                <img src="/img/modal-story/fb-yahoo.png" alt="Журналистский запрос в фейсбуке"
                     class="img-thumbnail bg-light">
                <br><br>

                <p>А&nbsp;вот немного экзотики. Так я&nbsp;делал это в&nbsp;Friendfeed:</p>
                <img src="/img/modal-story/ff-api.png" alt="Журналистский запрос в френдфиде"
                     class="img-thumbnail bg-light">
                <br><br>

                <p>Я&nbsp;делал это даже в&nbsp;МойКруг, правда, сейчас Yandex отключил эту возможность.</p>

                <p>Еще я&nbsp;собирал собственный лист рассылок, куда включал пиарщиков, которые хотели получать запросы
                    от
                    нашей
                    редакции.
                    Помню, количество адресов в&nbsp;ней добралось до&nbsp;тысячи, а&nbsp;затем &laquo;Секрет Фирмы&raquo;
                    из&nbsp;еженедельника стал
                    ежемесячником.
                    И&nbsp;мне уже не&nbsp;так часто требовалось бросать клич &laquo;фактура wanted&raquo;.</p>

                <p>Но&nbsp;правда в&nbsp;том, что с&nbsp;такой проблемой сталкиваюсь не&nbsp;я&nbsp;один. </p>
                <p>Практически каждый день нам в&nbsp;редакцию звонят или пишут пиарщики с&nbsp;предложением включить их&nbsp;экспертов
                    в
                    некие &laquo;списки комментаторов&raquo;. </p>
                <p>Я, например, всегда соглашаюсь. </p>
                <p>Проблема в&nbsp;том, что таких списков, насколько мне известно, ни&nbsp;в&nbsp;одной редакции
                    нет. </p>
                <p>А&nbsp;если и&nbsp;есть, то&nbsp;вряд&nbsp;ли они хорошо работают. </p>
                <p>Иметь завяленные архивы &laquo;комментаторов&raquo; не&nbsp;сильно вдохновляющая идея.
                    Гораздо лучше получать отклики на&nbsp;конкретный запрос. А&nbsp;еще лучше&nbsp;&mdash; отклики не&nbsp;только
                    от&nbsp;тех, кому ты
                    этот запрос выслал...</p>

                <img src="/img/modal-story/twitter-satin.png" alt="Журналистский запрос в твиттере"
                     class="img-thumbnail bg-light">
                <br><br>

                <p>...а от&nbsp;всех, у&nbsp;кого на&nbsp;твой запрос есть ответ: кейс, идея, новость по&nbsp;нужной
                    тебе теме.</p>

                <p>Именно это и&nbsp;делает Pressfeed.</p>

                <h3 class="t-m mt-5">Дисклеймер</h3>

                <p>Я&nbsp;не&nbsp;профессиональный программист и&nbsp;веб-разработчик. Чтобы сделать Pressfeed, мне
                    пришлось многому
                    научиться:
                    писать код, верстать сайты, освоить языки программирования и&nbsp;работу с&nbsp;базами данных. </p>
                <p>Не&nbsp;судите строго. Если заметите изъян, напишите мне на&nbsp;<a href="mailto:info@pressfeed.ru">info@pressfeed.ru </a>.
                    Я&nbsp;разберусь, поправлю и&nbsp;научусь еще чему-нибудь новому.</p>
                <p>До&nbsp;связи! И&nbsp;успешной работы с&nbsp;Pressfeed. </p>

                <p class="mb-0">Константин</p>

            </div>

            <button type="button" class="btn-link btn close my-3" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
    </div>
</div>



