.bg-waves-3 {
  background: url("../img/bg-feed-1.svg") no-repeat center 65%;
  background-attachment: fixed;
  background-size: 100%;
}

.bg-waves-4 {
  background: url("../img/waves-4.svg") no-repeat center 5rem;
  background-size: 100%;
}

.bg-light {
  background-color: #fafafa;
}

.bg-blue-lighter {
  background-color: $blue-lighter;
}