// Lines

.b {
  border: 1px solid $teal;
  &t {
    border-top: 1px solid $teal;
  }
  &b {
    border-bottom: 1px solid $teal;
  }
  &-gray {
    border: 1px solid #eee;
  }
  &t-gray {
    border-top: 1px solid #eee;
  }
  &r {
      border-right: 1px solid $teal;
  }
  &l {
    border-left: 1px solid $teal;
  }
}

.b-link-black {
  border-bottom: 1px dotted rgba(0,0,0,0.35);
}

// Shadows

.shadow-lg {
  box-shadow: 0 35px 54px rgba(0,0,0,.1), 0 5px 20px rgba(0,0,0,.05), 0 0 1px rgba(0,0,0,.05);
}

.shadow-md {
  box-shadow: 0 .4rem 2rem rgba(0, 0, 0, 0.1);
}

.shadow-xs {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.shadow-0 {
  box-shadow: none !important;
}

// Colors

.text-black {
  color: $black;
}

.text-gray-light {
  color: $gray-light;
}

.text-gray-light-2 {
  color: $gray-light-2;
}

.text-blue-light {
  color: $blue-light;
}

.text-blue-lighter {
  color: $blue-lighter;
}

// Text sizes

.f-xs {
  font-size: $font-size-xs;
}

.f-sm {
  font-size: $font-size-sm;
}

.f-base {
  font-size: $font-size-base;
}

.f-lg {
  font-size: $font-size-lg;
}

.f-xl {
  font-size: 3.5rem;
}

// Weights

.f-bold {
  font-weight: 800;
}

.f-semi {
  font-weight: 600;
}

.f-med {
  font-weight: 500;
}

.f-normal {
  font-weight: 400;
}

.f-light {
  font-weight: 300;
}

.f-thin {
  font-weight: 200;
}


// Positioning

.relative {
  position: relative;
}


// Cursor
.cursor {
 cursor: pointer;
}

