// Header

header {


  .burger {
    padding: 6px;
    cursor: pointer;
    div {
      width: 30px;
      height: 2px;
      background-color: $brand-primary;
      transition: transform .2s;
      will-change: transform;
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    &.is-open div:nth-child(1) {
      transform: rotate(-45deg) translate(-4px, 8px);
      height: 1px;
    }
    &.is-open div:nth-child(2) {
      opacity: 0;
    }
    &.is-open div:nth-child(3) {
      transform: rotate(45deg) translate(-2px, -7px);
      height: 1px;
    }

  }

}

// Mobile menu

.menu-mob {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  padding-bottom: 3rem;
  opacity: 0;
  overflow-y: auto;

  background-color: $white;

  transform: translateY(-100%);
  transition: transform 0.4s;
  will-change: transform;

  nav a {
   margin-top: 1rem;
  }

  &.is-open {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.4s;
  }

}

// Nav general
.nav a.nav-link.active {
  font-weight: normal;
}

.nav-sm {
  a {
    text-transform: none;
    color: $gray-light;
    &.disabled {
      pointer-events: none;
      color: lighten($gray-light, 40%)
    }
  }
}

// Sticky sidebar nav

.nav-menu-faq {
  max-width: 320px;
  .nav-item {
    margin-bottom: .7rem;
    .nav-link {
      font-weight: 300;
      font-size: .9rem;
      &.active {
        color: $black;
        font-weight: 300;
      }
    }
  }
}

.nav-menu-faq.affix {
  position: fixed !important;
  top: 100px;
}

// Tabs