// Text sizes

body, .t-n {
  font-size: 1rem;
  @include media-breakpoint-up(xl) {
    font-size: 1.1rem;
  }
}

.t-s {
  font-size: .8rem;
}

.t-m {
  font-size: 1.1rem;
  @include media-breakpoint-up(xl) {
    font-size: 1.7rem;

  }
}

.t-l {
  font-size: 1.4rem;
  @include media-breakpoint-up(sm) {
    font-size: 2.4rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 3rem;
  }
}

.t-xl {
  font-size: 2.2rem;
  @include media-breakpoint-up(sm) {
    font-size: 3rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 3.5rem;
  }
}

// Headings

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.4;
  @include media-breakpoint-up(xl) {
    letter-spacing: 0.4px;
  }
}

// Special font
.ff-special {
  font-family: Open Sans, sans-serif;
}

// Links

a, .btn-link, button {
  color: $brand-primary;
  transition: color .15s;
  &:hover, &:active, &:focus {
    color: darken($brand-primary, 10%);
    transition: color .3s;
    outline: none;
  }
}

header a[href^="callto:"] {
  color: $black;
  font-weight: 500;
  font-size: .9rem;
  white-space: nowrap;
}

// Decoratations

.text-uppercase {
  letter-spacing: .7px;
}

/////// NEW

.pf-logo {
  font-size: 1.5rem;
  @media only screen and (min-width: 1200px) {
    font-size: 1.3rem;
  }
  letter-spacing: -.25px;
  font-weight: 700;
  color: $black;
  &:hover {
    color: $black !important;
  }
}

.btn {
  letter-spacing: .35px;
}

.pf-text-uppercase {
  font-size: .7rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.text-black {
  color: $black;
}